<div id="colorBars" ng-show="GrafCtrl.isCollapsed(1);" ng-class="GrafCtrl.collapsedAnimation(1)">



	<div style="display: inline-block; margin-right: 10px;">
		<div class="stevilke">
			<p>1.0</p>
			<p>0.9</p>
			<p>0.8</p>
			<p>0.7</p>
			<p>0.6</p>
			<p>0.5</p>
			<p>0.4</p>
			<p>0.3</p>
			<p>0.2</p>
			<p>0.1</p>
			<p>0.0</p>
		</div>
		<div class="mere"></div>
		<div style="display: inline-block; height: 100%;">
			<div class="ozadjeBara">
				<div class="stolpic" ng-style="{'height' : GrafCtrl.indicatorPupilSize + 'px', 'background-position-y' : (GrafCtrl.indicatorPupilSize - GrafCtrl.indicatorMaxSize) + 'px'}"></div>
			</div>
			<!--<div id="indicatorPupil" class="indicator" ng-style="{'top' : GrafCtrl.indicatorPupilPos + 'px'}"></div>-->
		</div>
		<div class="opis" style="color: #9d1ec8;">Cognitive Load</div>
	</div>



	<div style="display: inline-block; margin-right: 10px;">
		<div class="stevilke">
			<p>1.0</p>
			<p>0.9</p>
			<p>0.8</p>
			<p>0.7</p>
			<p>0.6</p>
			<p>0.5</p>
			<p>0.4</p>
			<p>0.3</p>
			<p>0.2</p>
			<p>0.1</p>
			<p>0.0</p>
		</div>
		<div class="mere"></div>
		<div style="display: inline-block; height: 100%;">
			<div class="ozadjeBara">
				<div class="stolpic" ng-style="{'height' : GrafCtrl.indicatorArousalSize + 'px', 'background-position-y' : (GrafCtrl.indicatorArousalSize - GrafCtrl.indicatorMaxSize) + 'px'}"></div>
			</div>
			<!--<div id="indicatorArousal" class="indicator" ng-style="{'top' : GrafCtrl.indicatorArousalPos + 'px'}"></div>-->
		</div>
		<div class="opis" style="color: #1AB81A; line-height: 33px;">Arousal</div>
	</div>












	<div style="display: inline-block;">
		<div class="stevilke">
			<p>1.0</p>
			<p>0.9</p>
			<p>0.8</p>
			<p>0.7</p>
			<p>0.6</p>
			<p>0.5</p>
			<p>0.4</p>
			<p>0.3</p>
			<p>0.2</p>
			<p>0.1</p>
			<p>0.0</p>
		</div>
		<div class="mere"></div>
		<div style="display: inline-block; height: 100%;">
			<div class="ozadjeBara">
				<div class="stolpic" ng-style="{'height' : GrafCtrl.indicatorValenceSize + 'px', 'background-position-y' : (GrafCtrl.indicatorValenceSize - GrafCtrl.indicatorMaxSize) + 'px'}"></div>
			</div>
			<!--<div id="indicatorValence" class="indicator" ng-style="{'top' : GrafCtrl.indicatorValencePos + 'px'}"></div>-->
		</div>
		<div class="opis" style="color: #8F641A; line-height: 33px;">Valence</div>
	</div>







</div>
