<!--<div class="flexBoxModal">
	<div class="modal-header">
		<h1>Pozorno preberi</h1>
	</div>
	<div class="modal-body">
		<p>Postavi roke v začetni položaj, ki ga vidiš na sliki.</p>
		<p>V pomoč so ti lahko bunkice, ki jih ima tvoja tipkovnica na tipkah F in J. Dotakni se tipke F z levim kazalcem in tipke J z desnim kazalcem.</p>
		<img ng-src="img/navodila_zacetni_polozaj.png" />
	</div>
	<div class="modal-footer">
		<p>Pritisni katerokoli tipko na tipkovnici, ko si pripravljen na začetek vaje.</p>
	</div>
</div>-->

<div class="flexBoxModal">
	<div class="modal-header">
		<h1 style="text-align: center;">Navodila</h1>
	</div>
	<iframe style="height: 100%; width: 100%; display: block;" ng-src="{{NavodilaCtrl.ytLink}}" frameborder="0" allowfullscreen></iframe>
	<div class="modal-footer">
		<p>Pritisni katerokoli tipko na tipkovnici, ko si pripravljen na začetek vaje.</p>
	</div>
</div>
