<div class="freespaceAtTheTop"></div>


<p style="font-weight: bold; font-size: 1.5em; line-height: 1.5em; margin-bottom: 25px;" class="modal-footer">{{PretipkavanjeCtrl.navodilo}}</p>

<p style="font-size: 1.5em; line-height: 1.4em; text-align: center; background-color: white; width: 96%; display: block; margin: 0 auto 25px auto; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">{{PretipkavanjeCtrl.besedilo}}</p>


<textarea type="text" style="width: 96%; display: block; height: 40%; border: 1px solid black; margin: 0 auto; font-size: 2em; line-height: 1em;"></textarea>
