<!-- view - profile -->

<!--<div class="freespaceAtTheTop"></div>-->

<div id="wrapper">

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				<a ui-sref="menu">
					Nazaj na menu
				</a>
			</li>
			<li>
				<a ui-sref="profile.senzorji">Senzorji</a>
			</li>
			<li>
				<a ui-sref="profile.administracija">Administracija</a>
			</li>
		</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		PROFILE
		<div class="container-fluid">
			<div ui-view class="row">
				<div class="col-lg-12"></div>
			</div>
		</div>
	</div>
	<!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
